body {
    padding: 50px;
    font-family: 'Fira Sans', sans-serif;
}

.h1, h1 {
    font-size: 32pt;
    font-weight: 700;
    margin-bottom: 32px;
}

.h2, h2 {
    font-size: 24pt;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: 700;
}

p {
    font-size: 14pt;
    color: black;
    margin-bottom: 20px;
}

a {
    color:#047fbc;
}


.botones {
    margin-bottom: 24px;
}
.btn {
    border: 1px solid;
    margin-right: 8px;
    font-weight: normal;
    border-radius: 0;
    margin-top: 8px;
}

.encuestas {
    margin-right: 0;
    padding-right: 0;
}

.resultados {
    margin-left: 0;
    padding-left: 0;

}

.cuadrado_leyenda span, .cuadrado_leyenda_transparente {
    opacity: 0.3;
}

.cuadrado_leyenda {
    margin-bottom: 5px;
}


/* svg */

svg text {
    font-family: "Fira Sans", sans-serif;
}
.axis-y .tick line  {
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #e8eced;
}

.axis-x .tick line, .axis-x .tick path {
    stroke-width: 1px;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-y .domain, .axis-x .domain {
    display: none;
}

.axis-x text, .axis-y text {
    font-size: 12pt;
}

.axis-x text {
    fill: black;
}

.axis-y text {
    fill: #656565;
}

.error {
    stroke: white;
    stroke-width: 1px;
}
.line {
    stroke-width: 3px;
    fill: none
}

.campaign line, .resultados .anotacion line {
    stroke: #c5c5c5;
    fill: none;
    stroke-dasharray: 2px 2px;
}

.campaign text {
    font-size: 12pt;
    fill: #999999;
    text-anchor: middle;
}

.resultados .axis-y text {
    display: none;
}

.resultados .lines {
    stroke-dasharray: 2px 2px;
    fill: none;
}

.resultados .anotacion text, .encuestas .anotacion_titulo {
    font-size: 12pt;
    fill: black;
    text-anchor: middle;
    font-weight: 700;
}

.numbers {
    font-size: 14pt;
    font-weight: 700;
}

@media (max-width: 401px) {
    .info{
        display: none !important;
    }

    .anotacion text {
        font-size: 8pt !important;
    }
}